* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #000000;
}

header {
    padding: 16px 0 15px;
    position: relative;
}

header .container {
    max-width: 1064px;
    margin: auto;
}

header .logo {
    position: absolute;
    left: calc(50% - 40px);
}

.d_flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 28px;
}

header nav ul li a {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}

header ul {
    list-style: none;
}
ul.social_icons li:nth-child(1){
    position: relative;
    right: 7px;
}
ul.social_icons li:nth-child(3){
    position: relative;
    top: -2px;
}
.main_banner {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #F0EFEB;
}
.main_banner .container{
    max-width: 1064px;
    margin: auto;
}
.main_banner .img_wrapper{
    position: relative;
}
.main_banner .img_wrapper img{
    position: absolute;
    top: -90px;
    left: 60px;
}
.main_banner .text_wrapper{
    max-width: 534px;
}
.main_banner h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
}
.main_banner p{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
}
.main_banner a{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 8px 23px;
    background-color: #000000;
    border-radius: 100px;
    text-decoration: none;
}
.best_sellers_section {
    padding-top: 60px;
    padding-bottom: 248px;
}
.best_sellers_section .container{
    max-width: 1064px;
    margin: auto;
}
.best_sellers_section .container .text_wrapper{
    margin-bottom: 88px;
}
.best_sellers_section .container h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}
.best_sellers_section .container p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    display: block;
    max-width: 632px;
    margin: auto;
}
.best_sellers_section .container span{
    margin-top: 47px;
    display: inline-block;
}
.best_sellers_section .container h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 52px;
}
.best_sellers article{
    flex-direction: column;
    align-items: center;
    max-width: 309px;
}
.best_sellers img{
    margin-bottom: 27px;
}
.best_sellers a:first-of-type{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    max-width: 156px;
    margin-bottom: 17px;
}
.best_sellers span.price{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: inherit;
    margin-bottom: 10px;
}
.best_sellers a:last-of-type{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}


